<html>
<style type="text/css">
      body {
        font-family: arial, sans, sans-serif;
        margin: 0;
      }

      iframe {
        border: 0;
        frameborder: 0;
        height: 100%;
        width: 100%;
      }

      #header, #footer {
        background: #f0f0f0;
        padding: 10px 10px;
      }

      #header {
        border-bottom: 1px #ccc solid;
      }

      #footer {
        border-top: 1px #ccc solid;
        border-bottom: 1px #ccc solid;
        font-size: 13;
      }

      #contents {
        margin: 6px;
      }

      .dash {
        padding: 0 6px;
      }
    </style></head><body><div id="contents"><style type="text/css">@import url('https://themes.googleusercontent.com/fonts/css?kit=m0tazYRimFnV1hoGKbgtnw');ol{margin:0;padding:0}.c19{border-bottom-width:1pt;border-top-style:solid;width:421pt;background-color:#cfe2f3;border-right-style:solid;padding:5.2pt 5.2pt 5.2pt 5.2pt;border-bottom-color:#ffffff;border-top-width:1pt;border-bottom-style:solid;vertical-align:top;border-top-color:#ffffff;border-left-color:#ffffff;border-right-color:#ffffff;border-left-style:solid;border-right-width:1pt;border-left-width:1pt}.c25{border-bottom-width:1pt;border-top-style:solid;width:10.8pt;border-right-style:solid;padding:5.2pt 5.2pt 5.2pt 5.2pt;border-bottom-color:#ffffff;border-top-width:1pt;border-bottom-style:solid;vertical-align:top;border-top-color:#ffffff;border-left-color:#ffffff;border-right-color:#ffffff;border-left-style:solid;border-right-width:1pt;border-left-width:1pt}.c22{border-bottom-width:1pt;border-top-style:solid;width:431.7pt;border-right-style:solid;padding:5.2pt 5.2pt 5.2pt 5.2pt;border-bottom-color:#ffffff;border-top-width:1pt;border-bottom-style:solid;vertical-align:top;border-top-color:#ffffff;border-left-color:#ffffff;border-right-color:#ffffff;border-left-style:solid;border-right-width:1pt;border-left-width:1pt}.c15{border-bottom-width:1pt;border-top-style:solid;width:11pt;border-right-style:solid;padding:5.2pt 5.2pt 5.2pt 5.2pt;border-bottom-color:#ffffff;border-top-width:1pt;border-bottom-style:solid;vertical-align:top;border-top-color:#ffffff;border-left-color:#ffffff;border-right-color:#ffffff;border-left-style:solid;border-right-width:1pt;border-left-width:1pt}.c8{line-height:1.0;padding-top:0pt;text-align:left;padding-bottom:0pt}.c9{vertical-align:baseline;font-style:normal;text-decoration:none;font-weight:normal}.c7{color:#999999;font-size:8pt;font-family:"Arial"}.c5{margin-right:auto;border-collapse:collapse}.c21{line-height:1.0;padding-top:0pt;text-align:left}.c0{font-size:9pt;font-family:"Arial";text-decoration:underline}.c14{max-width:432pt;background-color:#ffffff;padding:72pt 90pt 72pt 90pt}.c2{widows:2;orphans:2;direction:ltr}.c20{font-size:8pt;font-family:"Arial"}.c12{text-decoration:underline;font-weight:bold}.c11{font-size:9pt;font-family:"Arial"}.c1{font-size:10pt;font-family:"Times New Roman"}.c3{font-size:11pt;font-family:"Arial"}.c29{color:inherit;text-decoration:inherit}.c23{font-size:1pt;font-family:"Times New Roman"}.c16{text-decoration:underline}.c17{height:51pt}.c13{font-weight:bold}.c4{height:12pt}.c28{color:#1155cc}.c10{padding-bottom:12pt}.c6{color:#000000}.c18{font-style:italic}.c27{text-align:center}.c26{background-color:#cfe2f3}.c24{height:0pt}.title{widows:2;padding-top:24pt;line-height:1.0;orphans:2;text-align:left;color:#000000;font-size:36pt;font-family:"Cambria";font-weight:bold;padding-bottom:6pt;page-break-after:avoid}.subtitle{widows:2;padding-top:18pt;line-height:1.0;orphans:2;text-align:left;color:#666666;font-style:italic;font-size:24pt;font-family:"Georgia";padding-bottom:4pt;page-break-after:avoid}li{color:#000000;font-size:12pt;font-family:"Cambria"}p{color:#000000;font-size:12pt;margin:0;font-family:"Cambria"}h1{widows:2;padding-top:24pt;line-height:1.0;orphans:2;text-align:left;color:#000000;font-size:24pt;font-family:"Cambria";font-weight:bold;padding-bottom:6pt;page-break-after:avoid}h2{widows:2;padding-top:18pt;line-height:1.0;orphans:2;text-align:left;color:#000000;font-size:18pt;font-family:"Cambria";font-weight:bold;padding-bottom:4pt;page-break-after:avoid}h3{widows:2;padding-top:14pt;line-height:1.0;orphans:2;text-align:left;color:#000000;font-size:14pt;font-family:"Cambria";font-weight:bold;padding-bottom:4pt;page-break-after:avoid}h4{widows:2;padding-top:12pt;line-height:1.0;orphans:2;text-align:left;color:#000000;font-size:12pt;font-family:"Cambria";font-weight:bold;padding-bottom:2pt;page-break-after:avoid}h5{widows:2;padding-top:11pt;line-height:1.0;orphans:2;text-align:left;color:#000000;font-size:11pt;font-family:"Cambria";font-weight:bold;padding-bottom:2pt;page-break-after:avoid}h6{widows:2;padding-top:10pt;line-height:1.0;orphans:2;text-align:left;color:#000000;font-size:10pt;font-family:"Cambria";font-weight:bold;padding-bottom:2pt;page-break-after:avoid}</style>
    <p class="c2">
    	<span class="c3 c6">Hi,</span>
    </p>

    <p class="c2">
    	<span class="c3 c6">Your friend <%= @user.first_name %> <%= @user.last_name %> thinks very highly of you and wants to add you to their Reech network. Reech is the best app for getting help from friends. </span>
    </p>

    <p class="c2">
    	<span class="c3 c6">Download on iOS and Play stores to start helping out now!</span>
    </p>

    <p class="c2">
    	<span class="c3 c6">Invite code</span><span class="c3">: <%=@referral_code%></span>
    </p>

    <p class="c2">
    	<span class="c3 c6">Happy reeching!</span>
    </p>

    <p class="c2 c15"><span class="c3 c6"><img alt="Apple Store" src="http://reechout.co/app_store.gif" style="width: 150px; height:70px;"><img alt="Google Play" src="http://reechout.co/google_play.png" style="width: 150px; height:70px;"></span></p>

    <p class="c2">
    	<span class="c3 c6">Cheers,
    		<br>Reech team<br>
    	</span>
    	<span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 96.21px; height: 21.11px;"><img alt="eechOrangeBlue.png" src="https://lh4.googleusercontent.com/BCkGaH9jSiyINKJv5Z5HCpOq4w8AeLY2Z0gNVzRWegWG6sYGRlbgQytvpC7JlYvbtci2_rT2GqT24hw5qVvLcA7vY2fB1MDBXF8hoXXwu1RWkkNSMbI85oC-B80euzRI0mHzBsK-d0c" style="width: 96.21px; height: 21.11px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span>
    </p>
    </html>