<h1>Password Reset Reech</h1>

<p>
  A request to reset your password has been made. So, we have reset your pasword temporarily. Please reset your pasword once you login with temporarily password.
  if this request was not set then, simply ignore this email. If you did make this
  request, please use this credentials below.
</p>

<P>User name :<%=@user.phone_number%></p>
	
<p>Password : <%=@new_password%></p>	
	
